# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
SysInfo/
*.stacktrace

# IDE
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.sln
*.csproj
*.unityproj

# Paket arşivleri / OS
*.unitypackage
.DS_Store
Thumbs.db

# Derlenmiş / Çıktılar
*.exe
*.dll
*.apk
*.aab
*.app
*.ipa
